#### Import dependencies

In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import time
from splinter import Browser
import re

#### Data to be extracted:

##### people and society
     population
##### energy
     consumption
     fossil fuels
     nuclear fuels
     hydroelectric
     other renewable sources
     carbondioxide emissions from consumption of energy

In [2]:
executable_path = {"executable_path": "chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

#### Extract population data

In [3]:
url = 'https://www.cia.gov/library/publications/the-world-factbook/fields/335rank.html'
browser.visit(url)

time.sleep(2)

html = browser.html

soup = bs(html, "html.parser")

In [4]:
country_name = []
country_pop = []
population_rank = []

tbody = soup.find("tbody")
trow = tbody.findAll("tr")

for i in trow:
    name = i.find("td", class_="region").find("a").text
    if name == "Congo, Democratic Republic of the":
        name = "CD"
    if name == "Congo, Republic of the":
        name = "CG"
    if name == "Cote d'Ivoire":
        name = "CI"
    if name == "South Sudan":
        name = "SS"
    if name == "Svalbard":
        name = "Svalbard and Jan Mayen"
    if name == "Burma":
        name = "Myanmar"
    if name == "Korea, South":
        name = "South Korea"
    if name == "Korea, North":
        name = "North Korea"
    if name == "Bahamas, The":
        name = "Bahamas"
    if name == "Czechia":
        name = "CZ"
    if name == "Kosovo":
        name = "XK"
    if name == "Eswatini":
        name = "SZ"
    if name == "Timor-Leste":
        name = "TL"

    country_name.append(name)

    population = i.findAll("td")[2].text
    population = "".join(population.split(","))
    country_pop.append(float(population))

    rank = i.findAll("td")[0].text
    population_rank.append(rank)

population_df = pd.DataFrame({
    "name": country_name,
    "population": country_pop,
    "population_rank": population_rank
})


population_df.head()

            name    population population_rank
0          China  1.384689e+09               1
1          India  1.296834e+09               2
2  United States  3.292565e+08               3
3      Indonesia  2.627874e+08               4
4         Brazil  2.088469e+08               5

#### Extract electricity consumption data

In [5]:
url = 'https://www.cia.gov/library/publications/the-world-factbook/fields/253rank.html'
browser.visit(url)

time.sleep(2)

html = browser.html

soup = bs(html, "html.parser")

In [6]:
country_name = []
country_econsumption = []
econsumption_rank = []

tbody = soup.find("tbody")
trow = tbody.findAll("tr")

for i in trow:
    name = i.find("td", class_="region").find("a").text
    if name == "Congo, Democratic Republic of the":
        name = "CD"
    if name == "Congo, Republic of the":
        name = "CG"
    if name == "Cote d'Ivoire":
        name = "CI"
    if name == "South Sudan":
        name = "SS"
    if name == "Svalbard":
        name = "Svalbard and Jan Mayen"
    if name == "Burma":
        name = "Myanmar"
    if name == "Korea, South":
        name = "South Korea"
    if name == "Korea, North":
        name = "North Korea"
    if name == "Bahamas, The":
        name = "Bahamas"
    if name == "Czechia":
        name = "CZ"
    if name == "Kosovo":
        name = "XK"
    if name == "Eswatini":
        name = "SZ"
    if name == "Timor-Leste":
        name = "TL"
    country_name.append(name)

    econsumption = i.findAll("td")[2].text
    econsumption = "".join(econsumption.split(","))
    country_econsumption.append(float(econsumption))

    rank = i.findAll("td")[0].text
    econsumption_rank.append(rank)

econsumption_df = pd.DataFrame({
    "name": country_name,
    "econsumption": country_econsumption,
    "econsumption_rank": econsumption_rank
})

econsumption_df.head()

            name  econsumption econsumption_rank
0          China  5.564000e+12                 1
1  United States  3.902000e+12                 2
2          India  1.137000e+12                 3
3          Japan  9.437000e+11                 4
4         Russia  9.096000e+11                 5

#### Extract electricity from fossil fuel data

In [7]:
url = 'https://www.cia.gov/library/publications/the-world-factbook/fields/257rank.html'
browser.visit(url)

time.sleep(2)

html = browser.html

soup = bs(html, "html.parser")

In [8]:
country_name = []
country_fossil = []
fossil_rank = []

tbody = soup.find("tbody")
trow = tbody.findAll("tr")

for i in trow:
    name = i.find("td", class_="region").find("a").text
    if name == "Congo, Democratic Republic of the":
        name = "CD"
    if name == "Congo, Republic of the":
        name = "CG"
    if name == "Cote d'Ivoire":
        name = "CI"
    if name == "South Sudan":
        name = "SS"
    if name == "Svalbard":
        name = "Svalbard and Jan Mayen"
    if name == "Burma":
        name = "Myanmar"
    if name == "Korea, South":
        name = "South Korea"
    if name == "Korea, North":
        name = "North Korea"
    if name == "Bahamas, The":
        name = "Bahamas"
    if name == "Czechia":
        name = "CZ"
    if name == "Kosovo":
        name = "XK"
    if name == "Eswatini":
        name = "SZ"
    if name == "Timor-Leste":
        name = "TL"
    country_name.append(name)

    fossil = i.findAll("td")[2].text
    country_fossil.append(float(fossil))

    rank = i.findAll("td")[0].text
    fossil_rank.append(rank)

fossil_df = pd.DataFrame({
    "name": country_name,
    "fossil": country_fossil,
    "fossil_rank": fossil_rank
})

fossil_df.head()

       name  fossil fossil_rank
0   Bahamas   100.0           1
1   Bahrain   100.0           2
2   Bermuda   100.0           3
3  Botswana   100.0           4
4    Brunei   100.0           5

#### Extract electricity from nuclear fuels data

In [9]:
url = 'https://www.cia.gov/library/publications/the-world-factbook/fields/258rank.html'
browser.visit(url)

time.sleep(2)

html = browser.html

soup = bs(html, "html.parser")

In [10]:
country_name = []
country_nuclear = []
nuclear_rank = []

tbody = soup.find("tbody")
trow = tbody.findAll("tr")

for i in trow:
    name = i.find("td", class_="region").find("a").text
    country_name.append(name)
    
    nuclear = i.findAll("td")[2].text
    country_nuclear.append(float(nuclear))
    
    rank = i.findAll("td")[0].text
    nuclear_rank.append(rank)

nuclear_df = pd.DataFrame({
    "name": country_name,
    "nuclear": country_nuclear,
    "nuclear_rank": nuclear_rank
})

nuclear_df.head()

       name  nuclear nuclear_rank
0    France     50.0            1
1   Belgium     28.0            2
2  Slovakia     27.0            3
3   Ukraine     23.0            4
4   Hungary     22.0            5

#### Extract electricity from hydroelectric plants data

In [11]:
url = 'https://www.cia.gov/library/publications/the-world-factbook/fields/259rank.html'
browser.visit(url)

time.sleep(2)

html = browser.html

soup = bs(html, "html.parser")

In [12]:
country_name = []
country_hydro = []
hydro_rank = []

tbody = soup.find("tbody")
trow = tbody.findAll("tr")

for i in trow:
    name = i.find("td", class_="region").find("a").text
    if name == "Congo, Democratic Republic of the":
        name = "CD"
    if name == "Congo, Republic of the":
        name = "CG"
    if name == "Cote d'Ivoire":
        name = "CI"
    if name == "South Sudan":
        name = "SS"
    if name == "Svalbard":
        name = "Svalbard and Jan Mayen"
    if name == "Burma":
        name = "Myanmar"
    if name == "Korea, South":
        name = "South Korea"
    if name == "Korea, North":
        name = "North Korea"
    if name == "Bahamas, The":
        name = "Bahamas"
    if name == "Czechia":
        name = "CZ"
    if name == "Kosovo":
        name = "XK"
    if name == "Eswatini":
        name = "SZ"
    if name == "Timor-Leste":
        name = "TL"
    country_name.append(name)

    hydro = i.findAll("td")[2].text
    country_hydro.append(float(hydro))

    rank = i.findAll("td")[0].text
    hydro_rank.append(rank)

hydro_df = pd.DataFrame({
    "name": country_name,
    "hydroelectric": country_hydro,
    "hydro_rank": hydro_rank
})

hydro_df.head()

       name  hydroelectric hydro_rank
0   Lesotho          100.0          1
1    Bhutan           99.0          2
2  Paraguay           99.0          3
3        CD           98.0          4
4   Albania           95.0          5

#### Extract electricity from other renewable sources data

In [13]:
url = 'https://www.cia.gov/library/publications/the-world-factbook/fields/260rank.html'
browser.visit(url)

time.sleep(2)

html = browser.html

soup = bs(html, "html.parser")

In [14]:
country_name = []
country_other = []
other_rank = []

tbody = soup.find("tbody")
trow = tbody.findAll("tr")

for i in trow:
    name = i.find("td", class_="region").find("a").text
    if name == "Congo, Democratic Republic of the":
        name = "CD"
    if name == "Congo, Republic of the":
        name = "CG"
    if name == "Cote d'Ivoire":
        name = "CI"
    if name == "South Sudan":
        name = "SS"
    if name == "Svalbard":
        name = "Svalbard and Jan Mayen"
    if name == "Burma":
        name = "Myanmar"
    if name == "Korea, South":
        name = "South Korea"
    if name == "Korea, North":
        name = "North Korea"
    if name == "Bahamas, The":
        name = "Bahamas"
    if name == "Czechia":
        name = "CZ"
    if name == "Kosovo":
        name = "XK"
    if name == "Eswatini":
        name = "SZ"
    if name == "Timor-Leste":
        name = "TL"
    country_name.append(name)

    other = i.findAll("td")[2].text
    country_other.append(float(other))

    rank = i.findAll("td")[0].text
    other_rank.append(rank)

other_df = pd.DataFrame({
    "name": country_name,
    "other": country_other,
    "other_rank": other_rank

})

other_df.head()

         name  other other_rank
0          TL  100.0          1
1  Luxembourg   67.0          2
2     Denmark   54.0          3
3     Germany   52.0          4
4     Uruguay   42.0          5

#### Extract electricity from carbondioxide emissions from consumption of energy data

In [15]:
url = 'https://www.cia.gov/library/publications/the-world-factbook/fields/274rank.html'
browser.visit(url)

time.sleep(2)

html = browser.html

soup = bs(html, "html.parser")

In [16]:
country_name = []
country_emissions = []
emissions_rank = []

tbody = soup.find("tbody")
trow = tbody.findAll("tr")

for i in trow:
    name = i.find("td", class_="region").find("a").text
    if name == "Congo, Democratic Republic of the":
        name = "CD"
    if name == "Congo, Republic of the":
        name = "CG"
    if name == "Cote d'Ivoire":
        name = "CI"
    if name == "South Sudan":
        name = "SS"
    if name == "Svalbard":
        name = "Svalbard and Jan Mayen"
    if name == "Burma":
        name = "Myanmar"
    if name == "Korea, South":
        name = "South Korea"
    if name == "Korea, North":
        name = "North Korea"
    if name == "Bahamas, The":
        name = "Bahamas"
    if name == "Czechia":
        name = "CZ"
    if name == "Kosovo":
        name = "XK"
    if name == "Eswatini":
        name = "SZ"
    if name == "Timor-Leste":
        name = "TL"
    country_name.append(name)

    emissions = i.findAll("td")[2].text
    emissions = "".join(emissions.split(","))
    country_emissions.append(float(emissions))

    rank = i.findAll("td")[0].text
    emissions_rank.append(rank)

emissions_df = pd.DataFrame({
    "name": country_name,
    "emissions": country_emissions,
    "emissions_rank": emissions_rank
})

emissions_df.head()

            name     emissions emissions_rank
0          China  1.167000e+10              1
1  United States  5.242000e+09              2
2          India  2.383000e+09              3
3         Russia  1.847000e+09              4
4          Japan  1.268000e+09              5

#### Extract GDP data

In [17]:
url = 'https://www.cia.gov/library/publications/the-world-factbook/fields/208rank.html'
browser.visit(url)

time.sleep(2)

html = browser.html

soup = bs(html, "html.parser")

In [18]:
country_name = []
country_gdp = []
gdp_rank = []

tbody = soup.find("tbody")
trow = tbody.findAll("tr")

for i in trow: 
    name = i.find("td", class_="region").find("a").text
    if name == "Congo, Democratic Republic of the":
        name = "CD"
    if name == "Congo, Republic of the":
        name = "CG"
    if name == "Cote d'Ivoire":
        name = "CI"
    if name == "South Sudan":
        name = "SS"
    if name == "Svalbard":
        name = "Svalbard and Jan Mayen"
    if name == "Burma":
        name = "Myanmar"
    if name == "Korea, South":
        name = "South Korea"
    if name == "Korea, North":
        name = "North Korea"
    if name == "Bahamas, The":
        name = "Bahamas"
    if name == "Czechia":
        name = "CZ"
    if name == "Kosovo":
        name = "XK"
    if name == "Eswatini":
        name = "SZ"
    if name == "Timor-Leste":
        name = "TL"
    country_name.append(name)

    gdp = i.findAll("td")[2].text
    gdp = "".join(gdp.split(","))
    country_gdp.append(float(gdp[1:]))

    rank = i.findAll("td")[0].text
    gdp_rank.append(rank)

gdp_df = pd.DataFrame({
    "name": country_name,
    "gdp": country_gdp,
    "gdp_rank": gdp_rank
})

gdp_df.head()

            name           gdp gdp_rank
0          China  2.321000e+13        1
1  United States  1.949000e+13        2
2          India  9.474000e+12        3
3          Japan  5.443000e+12        4
4        Germany  4.199000e+12        5

#### Extract GDP per capita data

In [19]:
url = 'https://www.cia.gov/library/publications/the-world-factbook/fields/211rank.html'
browser.visit(url)

time.sleep(2)

html = browser.html

soup = bs(html, "html.parser")

In [20]:
country_name = []
country_gdppc = []
gdppc_rank = []

tbody = soup.find("tbody")
trow = tbody.findAll("tr")

for i in trow: 
    name = i.find("td", class_="region").find("a").text
    if name == "Congo, Democratic Republic of the":
        name = "CD"
    if name == "Congo, Republic of the":
        name = "CG"
    if name == "Cote d'Ivoire":
        name = "CI"
    if name == "South Sudan":
        name = "SS"
    if name == "Svalbard":
        name = "Svalbard and Jan Mayen"
    if name == "Burma":
        name = "Myanmar"
    if name == "Korea, South":
        name = "South Korea"
    if name == "Korea, North":
        name = "North Korea"
    if name == "Bahamas, The":
        name = "Bahamas"
    if name == "Czechia":
        name = "CZ"
    if name == "Kosovo":
        name = "XK"
    if name == "Eswatini":
        name = "SZ"
    if name == "Timor-Leste":
        name = "TL"
    country_name.append(name)

    gdppc = i.findAll("td")[2].text
    gdppc = "".join(gdppc.split(","))
    country_gdppc.append(float(gdppc[1:]))

    rank = i.findAll("td")[0].text
    gdppc_rank.append(rank)

gdppc_df = pd.DataFrame({
    "name": country_name,
    "gdppc": country_gdppc,
    "gdppc_rank": gdppc_rank
})

gdppc_df.head()

            name     gdppc gdppc_rank
0  Liechtenstein  139100.0          1
1          Qatar  124100.0          2
2         Monaco  115700.0          3
3          Macau  110000.0          4
4     Luxembourg  105100.0          5

#### Extract coordinates data

In [21]:
url = 'https://www.cia.gov/library/publications/the-world-factbook/fields/277.html'
browser.visit(url)

time.sleep(2)

html = browser.html

soup = bs(html, "html.parser")

In [22]:
country_name = []
country_lat = []
country_lon = []

tbody = soup.find("tbody")
trow = tbody.findAll("tr")

for i in trow:
    lat_lon = []

    try:
        coord = i.find("div", {"id": "field-geographic-coordinates"})\
            .find("div", class_ = "category_data subfield text").text.strip()
        lat_lon = coord.split(",")

        if lat_lon[0][-1] == "S":
            lat = -float(lat_lon[0][:-2].replace(" ", "."))
        else:
            lat = float(lat_lon[0][:-2].replace(" ", "."))

        if lat_lon[1][-1] == "W":
            lon = -float(lat_lon[1][1:-2].replace(" ", "."))
        else:
            lon = float(lat_lon[1][1:-2].replace(" ", "."))

        name = i.find("td", class_="country").find("a").text
        if name == "Congo, Democratic Republic of the":
            name = "CD"
        if name == "Congo, Republic of the":
            name = "CG"
        if name == "Cote d'Ivoire":
            name = "CI"
        if name == "South Sudan":
            name = "SS"
        if name == "Svalbard":
            name = "Svalbard and Jan Mayen"
        if name == "Burma":
            name = "Myanmar"
        if name == "Korea, South":
            name = "South Korea"
        if name == "Korea, North":
            name = "North Korea"
        if name == "Bahamas, The":
            name = "Bahamas"
        if name == "Czechia":
            name = "CZ"
        if name == "Kosovo":
            name = "XK"
        if name == "Eswatini":
            name = "SZ"
        if name == "Timor-Leste":
            name = "TL"

        country_name.append(name)
        country_lat.append(lat)
        country_lon.append(lon)

    except:
        try:
            coord = i.find("div", {"id": "field-geographic-coordinates"})\
                .find("div", class_ = "category_data subfield text").text.strip()

            search = re.search(':(.+?);', coord).group()
            if search != None:
                try:
                    lat_lon = search[2:-1].split(",")

                    if lat_lon[0][-1] == "S":
                        lat = -float(lat_lon[0][:-2].replace(" ", "."))
                    else:
                        lat = float(lat_lon[0][:-2].replace(" ", "."))


                    if lat_lon[1][-1] == "W":
                        lon = -float(lat_lon[1][1:-2].replace(" ", "."))
                    else:
                        lon = float(lat_lon[1][1:-2].replace(" ", "."))

                    name = i.find("td", class_="country").find("a").text
                    if name == "Congo, Democratic Republic of the":
                        name = "CD"
                    if name == "Congo, Republic of the":
                        name = "CG"
                    if name == "Cote d'Ivoire":
                        name = "CI"
                    if name == "South Sudan":
                        name = "SS"
                    if name == "Svalbard":
                        name = "Svalbard and Jan Mayen"
                    if name == "Burma":
                        name = "Myanmar"
                    if name == "Korea, South":
                        name = "South Korea"
                    if name == "Korea, North":
                        name = "North Korea"
                    if name == "Bahamas, The":
                        name = "Bahamas"
                    if name == "Czechia":
                        name = "CZ"
                    if name == "Kosovo":
                        name = "XK"
                    if name == "Eswatini":
                        name = "SZ"
                    if name == "Timor-Leste":
                        name = "TL"

                    country_name.append(name)
                    country_lat.append(lat)
                    country_lon.append(lon)

                except:
                    print(f"Whoops! I'm stupid...")
            else:
                print(f"Whoops! I'm stupid...")
        except:
            print(f"Whoops! I'm stupid...")

coord_df = pd.DataFrame({
    "name": country_name,
    "lat": country_lat,
    "lon": country_lon
})

coord_df.head()

Whoops! I'm stupid...
Whoops! I'm stupid...

             name    lat     lon
0     Afghanistan  33.00   65.00
1        Akrotiri  34.37   32.58
2         Albania  41.00   20.00
3         Algeria  28.00    3.00
4  American Samoa -14.20 -170.00

##### Merge data

In [32]:
merge1_df = population_df.merge(econsumption_df, how="left", on="name")
merge2_df = merge1_df.merge(fossil_df, how="left", on="name")
merge3_df = merge2_df.merge(nuclear_df, how="left", on="name")
merge4_df = merge3_df.merge(hydro_df, how="left", on="name")
merge5_df = merge4_df.merge(other_df, how="left", on="name")
merge6_df = merge5_df.merge(emissions_df, how="left", on="name")
merge7_df = merge6_df.merge(gdp_df, how="left", on="name")
merge8_df = merge7_df.merge(gdppc_df, how="left", on="name")
energy_df = merge8_df.merge(coord_df, how="left", on="name")
    
energy_df.head()

,name,population,population_rank,econsumption,econsumption_rank,fossil,fossil_rank,nuclear,nuclear_rank,hydroelectric,...,other,other_rank,emissions,emissions_rank,gdp,gdp_rank,gdppc,gdppc_rank,lat,lon
0,China,1.384689e+09,1,5.564000e+12,1,62.0,124,2.0,25,18.0,...,18.0,47,1.167000e+10,1,2.321000e+13,1,16700.0,105,35.0,105.0
1,India,1.296834e+09,2,1.137000e+12,3,71.0,104,2.0,26,12.0,...,16.0,53,2.383000e+09,3,9.474000e+12,3,7200.0,156,20.0,77.0
2,United States,3.292565e+08,3,3.902000e+12,2,70.0,111,9.0,18,7.0,...,14.0,65,5.242000e+09,2,1.949000e+13,2,59800.0,19,38.0,-97.0
3,Indonesia,2.627874e+08,4,2.134000e+11,20,85.0,71,0.0,110,9.0,...,6.0,99,5.407000e+08,12,3.250000e+12,7,12400.0,127,-5.0,120.0
4,Brazil,2.088469e+08,5,5.091000e+11,8,17.0,197,1.0,28,64.0,...,18.0,46,5.138000e+08,13,3.248000e+12,8,15600.0,108,-10.0,-55.0

In [34]:
# Replace null values with "0"
energy_df.fillna(0, inplace=True)

In [35]:
energy_dict = energy_df.to_dict("list")

In [36]:
energy_dict

{'name': ['China',
  'India',
  'United States',
  'Indonesia',
  'Brazil',
  'Pakistan',
  'Nigeria',
  'Bangladesh',
  'Russia',
  'Japan',
  'Mexico',
  'Ethiopia',
  'Philippines',
  'Egypt',
  'Vietnam',
  'CD',
  'Iran',
  'Turkey',
  'Germany',
  'Thailand',
  'France',
  'United Kingdom',
  'Italy',
  'Myanmar',
  'Tanzania',
  'South Africa',
  'South Korea',
  'Spain',
  'Kenya',
  'Colombia',
  'Argentina',
  'Ukraine',
  'Sudan',
  'Algeria',
  'Uganda',
  'Iraq',
  'Poland',
  'Canada',
  'Afghanistan',
  'Morocco',
  'Saudi Arabia',
  'Malaysia',
  'Venezuela',
  'Peru',
  'Angola',
  'Uzbekistan',
  'Nepal',
  'Yemen',
  'Ghana',
  'Mozambique',
  'CI',
  'Madagascar',
  'Cameroon',
  'North Korea',
  'Taiwan',
  'Australia',
  'Sri Lanka',
  'Romania',
  'Niger',
  'Malawi',
  'Burkina Faso',
  'Syria',
  'Kazakhstan',
  'Mali',
  'Chile',
  'Netherlands',
  'Guatemala',
  'Ecuador',
  'Cambodia',
  'Zambia',
  'Chad',
  'Senegal',
  'Zimbabwe',
  'Rwanda',
  'Guinea',
  'Burundi',
  'Belgium',
  'Tunisia',
  'Benin',
  'Bolivia',
  'Somalia',
  'Cuba',
  'Haiti',
  'Greece',
  'CZ',
  'Jordan',
  'Portugal',
  'Dominican Republic',
  'SS',
  'Azerbaijan',
  'Sweden',
  'Hungary',
  'United Arab Emirates',
  'Belarus',
  'Honduras',
  'Austria',
  'Tajikistan',
  'Israel',
  'Switzerland',
  'Togo',
  'Laos',
  'Hong Kong',
  'Serbia',
  'Bulgaria',
  'Papua New Guinea',
  'Paraguay',
  'Libya',
  'Sierra Leone',
  'El Salvador',
  'Lebanon',
  'Nicaragua',
  'Singapore',
  'Eritrea',
  'Kyrgyzstan',
  'Denmark',
  'Central African Republic',
  'Finland',
  'Slovakia',
  'Turkmenistan',
  'Norway',
  'Ireland',
  'CG',
  'Costa Rica',
  'Georgia',
  'Liberia',
  'Oman',
  'New Zealand',
  'Croatia',
  'Bosnia and Herzegovina',
  'Mauritania',
  'Panama',
  'Moldova',
  'Uruguay',
  'Puerto Rico',
  'Mongolia',
  'Albania',
  'Armenia',
  'Kuwait',
  'Jamaica',
  'West Bank',
  'Lithuania',
  'Namibia',
  'Qatar',
  'Botswana',
  'Gabon',
  'Macedonia',
  'Slovenia',
  'Gambia, The',
  'Lesotho',
  'Latvia',
  'XK',
  'Gaza Strip',
  'Guinea-Bissau',
  'Bahrain',
  'Mauritius',
  'TL',
  'Estonia',
  'Cyprus',
  'Trinidad and Tobago',
  'SZ',
  'Fiji',
  'Djibouti',
  'Comoros',
  'Equatorial Guinea',
  'Bhutan',
  'Guyana',
  'Solomon Islands',
  'Western Sahara',
  'Montenegro',
  'Macau',
  'Luxembourg',
  'Suriname',
  'Cabo Verde',
  'Brunei',
  'Malta',
  'Maldives',
  'Belize',
  'Iceland',
  'Bahamas',
  'Barbados',
  'French Polynesia',
  'Vanuatu',
  'New Caledonia',
  'Sao Tome and Principe',
  'Samoa',
  'Guam',
  'Saint Lucia',
  'Curacao',
  'Aruba',
  'Grenada',
  'Kiribati',
  'Virgin Islands',
  'Tonga',
  'Micronesia, Federated States of',
  'Saint Vincent and the Grenadines',
  'Jersey',
  'Antigua and Barbuda',
  'Seychelles',
  'Isle of Man',
  'Andorra',
  'Marshall Islands',
  'Dominica',
  'Bermuda',
  'Guernsey',
  'Cayman Islands',
  'Greenland',
  'Turks and Caicos Islands',
  'Saint Kitts and Nevis',
  'Northern Mariana Islands',
  'Faroe Islands',
  'American Samoa',
  'Sint Maarten',
  'Liechtenstein',
  'British Virgin Islands',
  'San Marino',
  'Saint Martin',
  'Monaco',
  'Gibraltar',
  'Palau',
  'Anguilla',
  'Wallis and Futuna',
  'Tuvalu',
  'Nauru',
  'Cook Islands',
  'Saint Helena, Ascension, and Tristan da Cunha',
  'Saint Barthelemy',
  'Saint Pierre and Miquelon',
  'Montserrat',
  'Falkland Islands (Islas Malvinas)',
  'Svalbard and Jan Mayen',
  'Christmas Island',
  'Norfolk Island',
  'Niue',
  'Paracel Islands',
  'Tokelau',
  'Holy See (Vatican City)',
  'Cocos (Keeling) Islands',
  'Pitcairn Islands'],
 'population': [1384688986.0,
  1296834042.0,
  329256465.0,
  262787403.0,
  208846892.0,
  207862518.0,
  203452505.0,
  159453001.0,
  142122776.0,
  126168156.0,
  125959205.0,
  108386391.0,
  105893381.0,
  99413317.0,
  97040334.0,
  85281024.0,
  83024745.0,
  81257239.0,
  80457737.0,
  68615858.0,
  67364357.0,
  65105246.0,
  62246674.0,
  55622506.0,
  55451343.0,
  55380210.0,
  51418097.0,
  49331076.0,
  48397527.0,
  48168996.0,
  44694198.0,
  43952299.0,
  43120843.0,
  41657488.0,
  40853749.0,
  40194216.0,
  38420687.0,
  35881659.0,
  34940837.0,
  34314130.0,
  33091113.0,
  31809660.0,
  31689176.0,
  31331228.0,
  30355880.0,
  30023709.0,
  29717587.0,
  28667230.0,
  28102471.0,
  27233789.0,
  26260582.0,
  25683610.0,
  25640965.0,
  25381085.0,
  23545963.0,
  23470145.0,
  22576592.0,
  21457116.0,
  19866231.0,
  19842560.0,
  19742715.0,
  19454263.0,
  18744548.0,
  18429893.0,
  17925262.0,
  17151228.0,
  16581273.0,
  16498502.0,
  16449519.0,
  16445079.0,
  15833116.0,
  15020945.0,
  14030368.0,
  12187400.0,
  11855411.0,
  11844520.0,
  11570762.0,
  11516189.0,
  11340504.0,
  11306341.0,
  11259029.0,
  11116396.0,
  10788440.0,
  10761523.0,
  10686269.0,
  10458413.0,
  10355493.0,
  10298756.0,
  10204581.0,
  10046516.0,
  10040995.0,
  9825704.0,
  9701315.0,
  9527543.0,
  9182766.0,
  8793370.0,
  8604882.0,
  8424904.0,
  8292809.0,
  8176449.0,
  7234171.0,
  7213338.0,
  7078110.0,
  7057504.0,
  7027332.0,
  7025763.0,
  6754507.0,
  6312212.0,
  6187271.0,
  6100075.0,
  6085213.0,
  5995991.0,
  5970646.0,
  5849296.0,
  5809502.0,
  5745062.0,
  5537364.0,
  5445040.0,
  5411012.0,
  5372191.0,
  5068050.0,
  5062021.0,
  4987142.0,
  4926087.0,
  4809768.0,
  4613241.0,
  4545627.0,
  4270480.0,
  3849891.0,
  3840429.0,
  3800644.0,
  3437720.0,
  3369299.0,
  3294626.0,
  3103428.0,
  3057220.0,
  3038217.0,
  2916467.0,
  2812090.0,
  2798494.0,
  2793284.0,
  2533224.0,
  2363569.0,
  2249104.0,
  2119036.0,
  2118945.0,
  2102126.0,
  2092731.0,
  1962461.0,
  1923559.0,
  1907592.0,
  1836713.0,
  1833247.0,
  1442659.0,
  1364283.0,
  1321929.0,
  1244288.0,
  1237088.0,
  1215527.0,
  1087200.0,
  926276.0,
  884017.0,
  821164.0,
  797457.0,
  766397.0,
  740685.0,
  660121.0,
  619551.0,
  614249.0,
  606340.0,
  605764.0,
  597927.0,
  568373.0,
  450565.0,
  449043.0,
  392473.0,
  385854.0,
  343518.0,
  332634.0,
  293131.0,
  290373.0,
  288037.0,
  282754.0,
  204454.0,
  201316.0,
  167772.0,
  165510.0,
  150241.0,
  116576.0,
  112207.0,
  109367.0,
  106977.0,
  106398.0,
  103643.0,
  101844.0,
  99602.0,
  95882.0,
  94633.0,
  89407.0,
  85708.0,
  75684.0,
  74027.0,
  71176.0,
  66697.0,
  59613.0,
  57691.0,
  53701.0,
  53094.0,
  51994.0,
  51018.0,
  50826.0,
  42677.0,
  38547.0,
  35802.0,
  33779.0,
  32284.0,
  30727.0,
  29461.0,
  21516.0,
  17422.0,
  15763.0,
  11147.0,
  9692.0,
  9038.0,
  7841.0,
  7160.0,
  5471.0,
  5315.0,
  3198.0,
  2583.0,
  2205.0,
  1748.0,
  1618.0,
  1440.0,
  1285.0,
  1000.0,
  596.0,
  54.0],
 'population_rank': ['1',
  '2',
  '3',
  '4',
  '5',
  '6',
  '7',
  '8',
  '9',
  '10',
  '11',
  '12',
  '13',
  '14',
  '15',
  '16',
  '17',
  '18',
  '19',
  '20',
  '21',
  '22',
  '23',
  '24',
  '25',
  '26',
  '27',
  '28',
  '29',
  '30',
  '31',
  '32',
  '33',
  '34',
  '35',
  '36',
  '37',
  '38',
  '39',
  '40',
  '41',
  '42',
  '43',
  '44',
  '45',
  '46',
  '47',
  '48',
  '49',
  '50',
  '51',
  '52',
  '53',
  '54',
  '55',
  '56',
  '57',
  '58',
  '59',
  '60',
  '61',
  '62',
  '63',
  '64',
  '65',
  '66',
  '67',
  '68',
  '69',
  '70',
  '71',
  '72',
  '73',
  '74',
  '75',
  '76',
  '77',
  '78',
  '79',
  '80',
  '81',
  '82',
  '83',
  '84',
  '85',
  '86',
  '87',
  '88',
  '89',
  '90',
  '91',
  '92',
  '93',
  '94',
  '95',
  '96',
  '97',
  '98',
  '99',
  '100',
  '101',
  '102',
  '103',
  '104',
  '105',
  '106',
  '107',
  '108',
  '109',
  '110',
  '111',
  '112',
  '113',
  '114',
  '115',
  '116',
  '117',
  '118',
  '119',
  '120',
  '121',
  '122',
  '123',
  '124',
  '125',
  '126',
  '127',
  '128',
  '129',
  '130',
  '131',
  '132',
  '133',
  '134',
  '135',
  '136',
  '137',
  '138',
  '139',
  '140',
  '141',
  '142',
  '143',
  '144',
  '145',
  '146',
  '147',
  '148',
  '149',
  '150',
  '151',
  '152',
  '153',
  '154',
  '155',
  '156',
  '157',
  '158',
  '159',
  '160',
  '161',
  '162',
  '163',
  '164',
  '165',
  '166',
  '167',
  '168',
  '169',
  '170',
  '171',
  '172',
  '173',
  '174',
  '175',
  '176',
  '177',
  '178',
  '179',
  '180',
  '181',
  '182',
  '183',
  '184',
  '185',
  '186',
  '187',
  '188',
  '189',
  '190',
  '191',
  '192',
  '193',
  '194',
  '195',
  '196',
  '197',
  '198',
  '199',
  '200',
  '201',
  '202',
  '203',
  '204',
  '205',
  '206',
  '207',
  '208',
  '209',
  '210',
  '211',
  '212',
  '213',
  '214',
  '215',
  '216',
  '217',
  '218',
  '219',
  '220',
  '221',
  '222',
  '223',
  '224',
  '225',
  '226',
  '227',
  '228',
  '229',
  '230',
  '231',
  '232',
  '233',
  '234',
  '235',
  '236',
  '237',
  '238'],
 'econsumption': [5564000000000.0,
  1137000000000.0,
  3902000000000.0,
  213400000000.0,
  509100000000.0,
  92330000000.0,
  24720000000.0,
  53650000000.0,
  909600000000.0,
  943700000000.0,
  258700000000.0,
  9062000000.0,
  78300000000.0,
  159700000000.0,
  143200000000.0,
  7430000000.0,
  236300000000.0,
  231100000000.0,
  536500000000.0,
  187700000000.0,
  450800000000.0,
  309200000000.0,
  293500000000.0,
  14930000000.0,
  5682000000.0,
  207100000000.0,
  507600000000.0,
  239500000000.0,
  7863000000.0,
  68250000000.0,
  121000000000.0,
  133200000000.0,
  12120000000.0,
  55960000000.0,
  3106000000.0,
  38460000000.0,
  149400000000.0,
  522200000000.0,
  5526000000.0,
  28250000000.0,
  296200000000.0,
  136900000000.0,
  71960000000.0,
  44610000000.0,
  9036000000.0,
  49070000000.0,
  4983000000.0,
  3681000000.0,
  9363000000.0,
  11570000000.0,
  6245000000.0,
  1587000000.0,
  6411000000.0,
  13890000000.0,
  237400000000.0,
  229400000000.0,
  12670000000.0,
  49640000000.0,
  1065000000.0,
  1321000000.0,
  1551000000.0,
  14160000000.0,
  94230000000.0,
  2982000000.0,
  73220000000.0,
  108800000000.0,
  10100000000.0,
  22680000000.0,
  5857000000.0,
  11040000000.0,
  208600000.0,
  3497000000.0,
  7118000000.0,
  527300000.0,
  556100000.0,
  382700000.0,
  82160000000.0,
  15270000000.0,
  1143000000.0,
  7785000000.0,
  315300000.0,
  16160000000.0,
  406200000.0,
  56890000000.0,
  62340000000.0,
  16820000000.0,
  46940000000.0,
  15640000000.0,
  391800000.0,
  20240000000.0,
  133500000000.0,
  39370000000.0,
  113200000000.0,
  31720000000.0,
  7220000000.0,
  64600000000.0,
  12960000000.0,
  55000000000.0,
  58460000000.0,
  1261000000.0,
  5471000000.0,
  41840000000.0,
  29810000000.0,
  32340000000.0,
  3237000000.0,
  10900000000.0,
  27300000000.0,
  279000000.0,
  5928000000.0,
  15710000000.0,
  3590000000.0,
  47690000000.0,
  353900000.0,
  10520000000.0,
  33020000000.0,
  159400000.0,
  82790000000.0,
  26640000000.0,
  15090000000.0,
  122200000000.0,
  25680000000.0,
  912000000.0,
  9812000000.0,
  12370000000.0,
  279000000.0,
  28920000000.0,
  39500000000.0,
  15930000000.0,
  11870000000.0,
  1059000000.0,
  8708000000.0,
  4400000000.0,
  10770000000.0,
  19480000000.0,
  5932000000.0,
  5110000000.0,
  5291000000.0,
  57780000000.0,
  2847000000.0,
  6489000000.0,
  10500000000.0,
  3891000000.0,
  37240000000.0,
  3636000000.0,
  2071000000.0,
  6420000000.0,
  13400000000.0,
  282800000.0,
  847300000.0,
  6798000000.0,
  3957000000.0,
  202000.0,
  36270000.0,
  26110000000.0,
  2726000000.0,
  0.0,
  8795000000.0,
  4355000000.0,
  9867000000.0,
  1431000000.0,
  850000000.0,
  377100000.0,
  39060000.0,
  465000000.0,
  2184000000.0,
  790100000.0,
  95790000.0,
  0.0,
  2808000000.0,
  5077000000.0,
  6475000000.0,
  1750000000.0,
  367400000.0,
  3771000000.0,
  2122000000.0,
  373900000.0,
  453000000.0,
  17680000000.0,
  1654000000.0,
  990000000.0,
  629900000.0,
  58590000.0,
  2739000000.0,
  61380000.0,
  122800000.0,
  1601000000.0,
  343200000.0,
  968000000.0,
  873300000.0,
  185100000.0,
  26970000.0,
  654700000.0,
  48360000.0,
  178600000.0,
  146000000.0,
  630100000.0,
  307800000.0,
  325500000.0,
  0.0,
  221600000.0,
  604500000.0,
  103600000.0,
  604500000.0,
  0.0,
  612000000.0,
  468000000.0,
  218600000.0,
  193400000.0,
  48300.0,
  285500000.0,
  157200000.0,
  0.0,
  393600000.0,
  117500000.0,
  0.0,
  0.0,
  0.0,
  230800000.0,
  0.0,
  0.0,
  0.0,
  0.0,
  22320000.0,
  31620000.0,
  6510000.0,
  0.0,
  42780000.0,
  22320000.0,
  17670000.0,
  0.0,
  0.0,
  0.0,
  2790000.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 'econsumption_rank': ['1',
  '3',
  '2',
  '20',
  '8',
  '34',
  '69',
  '48',
  '5',
  '4',
  '14',
  '100',
  '37',
  '23',
  '25',
  '106',
  '17',
  '18',
  '6',
  '22',
  '10',
  '11',
  '13',
  '81',
  '118',
  '21',
  '9',
  '15',
  '104',
  '40',
  '30',
  '28',
  '88',
  '46',
  '135',
  '57',
  '24',
  '7',
  '119',
  '64',
  '12',
  '26',
  '39',
  '53',
  '101',
  '50',
  '124',
  '130',
  '99',
  '90',
  '114',
  '147',
  '113',
  '83',
  '16',
  '19',
  '86',
  '49',
  '153',
  '150',
  '148',
  '82',
  '33',
  '136',
  '38',
  '32',
  '96',
  '70',
  '117',
  '91',
  '192',
  '133',
  '108',
  '169',
  '168',
  '176',
  '36',
  '79',
  '152',
  '105',
  '183',
  '75',
  '173',
  '45',
  '42',
  '74',
  '52',
  '78',
  '175',
  '71',
  '27',
  '56',
  '31',
  '61',
  '107',
  '41',
  '85',
  '47',
  '43',
  '151',
  '120',
  '54',
  '62',
  '60',
  '134',
  '92',
  '65',
  '188',
  '116',
  '77',
  '132',
  '51',
  '180',
  '94',
  '59',
  '196',
  '35',
  '66',
  '80',
  '29',
  '68',
  '157',
  '98',
  '87',
  '187',
  '63',
  '55',
  '76',
  '89',
  '154',
  '103',
  '125',
  '93',
  '72',
  '115',
  '122',
  '121',
  '44',
  '137',
  '110',
  '95',
  '128',
  '58',
  '131',
  '143',
  '112',
  '84',
  '186',
  '160',
  '109',
  '127',
  '216',
  '208',
  '67',
  '140',
  '218',
  '102',
  '126',
  '97',
  '149',
  '159',
  '177',
  '207',
  '171',
  '141',
  '161',
  '202',
  '219',
  '138',
  '123',
  '111',
  '144',
  '179',
  '129',
  '142',
  '178',
  '172',
  '73',
  '145',
  '155',
  '164',
  '204',
  '139',
  '203',
  '199',
  '146',
  '181',
  '156',
  '158',
  '194',
  '210',
  '162',
  '205',
  '195',
  '198',
  '163',
  '184',
  '182',
  0,
  '190',
  '167',
  '201',
  '166',
  0,
  '165',
  '170',
  '191',
  '193',
  '217',
  '185',
  '197',
  0,
  '174',
  '200',
  0,
  0,
  0,
  '189',
  0,
  0,
  0,
  0,
  '212',
  '209',
  '214',
  0,
  '206',
  '211',
  '213',
  0,
  0,
  0,
  '215',
  0,
  0,
  0,
  0,
  0],
 'fossil': [62.0,
  71.0,
  70.0,
  85.0,
  17.0,
  62.0,
  80.0,
  97.0,
  68.0,
  71.0,
  71.0,
  3.0,
  67.0,
  91.0,
  56.0,
  2.0,
  84.0,
  53.0,
  41.0,
  76.0,
  17.0,
  50.0,
  54.0,
  39.0,
  55.0,
  85.0,
  70.0,
  47.0,
  33.0,
  29.0,
  69.0,
  65.0,
  44.0,
  96.0,
  19.0,
  91.0,
  79.0,
  23.0,
  45.0,
  68.0,
  100.0,
  78.0,
  51.0,
  61.0,
  34.0,
  86.0,
  5.0,
  79.0,
  58.0,
  16.0,
  60.0,
  74.0,
  52.0,
  45.0,
  79.0,
  72.0,
  52.0,
  47.0,
  95.0,
  1.0,
  80.0,
  83.0,
  86.0,
  68.0,
  59.0,
  75.0,
  41.0,
  43.0,
  35.0,
  5.0,
  98.0,
  82.0,
  58.0,
  42.0,
  33.0,
  14.0,
  35.0,
  94.0,
  88.0,
  76.0,
  93.0,
  91.0,
  82.0,
  57.0,
  60.0,
  87.0,
  41.0,
  77.0,
  100.0,
  84.0,
  5.0,
  64.0,
  99.0,
  96.0,
  40.0,
  25.0,
  6.0,
  95.0,
  3.0,
  70.0,
  28.0,
  100.0,
  65.0,
  39.0,
  63.0,
  0.0,
  100.0,
  23.0,
  49.0,
  88.0,
  56.0,
  98.0,
  99.0,
  24.0,
  46.0,
  50.0,
  41.0,
  36.0,
  100.0,
  3.0,
  65.0,
  64.0,
  18.0,
  35.0,
  57.0,
  100.0,
  23.0,
  45.0,
  49.0,
  65.0,
  36.0,
  86.0,
  29.0,
  94.0,
  87.0,
  5.0,
  58.0,
  100.0,
  83.0,
  78.0,
  73.0,
  28.0,
  100.0,
  100.0,
  51.0,
  60.0,
  37.0,
  97.0,
  0.0,
  39.0,
  97.0,
  0.0,
  99.0,
  100.0,
  79.0,
  0.0,
  72.0,
  85.0,
  100.0,
  39.0,
  34.0,
  100.0,
  96.0,
  61.0,
  1.0,
  89.0,
  92.0,
  100.0,
  23.0,
  100.0,
  25.0,
  61.0,
  79.0,
  100.0,
  81.0,
  96.0,
  51.0,
  4.0,
  100.0,
  93.0,
  70.0,
  71.0,
  87.0,
  88.0,
  48.0,
  94.0,
  99.0,
  0.0,
  87.0,
  96.0,
  73.0,
  98.0,
  74.0,
  96.0,
  85.0,
  0.0,
  97.0,
  91.0,
  0.0,
  61.0,
  81.0,
  72.0,
  100.0,
  0.0,
  100.0,
  51.0,
  100.0,
  94.0,
  0.0,
  54.0,
  98.0,
  0.0,
  0.0,
  97.0,
  0.0,
  0.0,
  0.0,
  100.0,
  0.0,
  0.0,
  0.0,
  96.0,
  86.0,
  79.0,
  100.0,
  0.0,
  96.0,
  100.0,
  74.0,
  0.0,
  0.0,
  0.0,
  87.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 'fossil_rank': ['124',
  '104',
  '111',
  '71',
  '197',
  '125',
  '83',
  '32',
  '115',
  '105',
  '106',
  '207',
  '116',
  '54',
  '140',
  '210',
  '75',
  '144',
  '166',
  '94',
  '198',
  '152',
  '143',
  '171',
  '141',
  '73',
  '109',
  '157',
  '183',
  '184',
  '112',
  '120',
  '162',
  '36',
  '195',
  '55',
  '87',
  '191',
  '159',
  '114',
  '17',
  '90',
  '150',
  '128',
  '180',
  '69',
  '203',
  '89',
  '135',
  '199',
  '130',
  '97',
  '145',
  '161',
  '88',
  '101',
  '146',
  '156',
  '45',
  '212',
  '82',
  '77',
  '66',
  '113',
  '133',
  '95',
  '167',
  '163',
  '178',
  '205',
  '28',
  '79',
  '136',
  '164',
  '182',
  '200',
  '177',
  '49',
  '58',
  '93',
  '51',
  '53',
  '78',
  '137',
  '131',
  '62',
  '168',
  '92',
  '18',
  '74',
  '204',
  '122',
  '26',
  '37',
  '169',
  '188',
  '201',
  '44',
  '209',
  '110',
  '186',
  '9',
  '119',
  '170',
  '123',
  '214',
  '11',
  '194',
  '154',
  '59',
  '139',
  '29',
  '23',
  '190',
  '158',
  '151',
  '165',
  '176',
  '20',
  '208',
  '117',
  '121',
  '196',
  '179',
  '138',
  '14',
  '193',
  '160',
  '153',
  '118',
  '175',
  '67',
  '185',
  '47',
  '63',
  '202',
  '134',
  '10',
  '76',
  '91',
  '100',
  '187',
  '15',
  '4',
  '148',
  '132',
  '174',
  '34',
  '213',
  '173',
  '35',
  0,
  '24',
  '2',
  '86',
  '215',
  '103',
  '70',
  '19',
  '172',
  '181',
  '7',
  '38',
  '127',
  '211',
  '57',
  '52',
  '22',
  '192',
  '12',
  '189',
  '129',
  '84',
  '5',
  '80',
  '40',
  '147',
  '206',
  '1',
  '50',
  '108',
  '107',
  '64',
  '60',
  '155',
  '46',
  '25',
  0,
  '61',
  '39',
  '99',
  '30',
  '98',
  '41',
  '72',
  0,
  '31',
  '56',
  0,
  '126',
  '81',
  '102',
  '3',
  0,
  '6',
  '149',
  '21',
  '48',
  0,
  '142',
  '27',
  0,
  0,
  '33',
  0,
  0,
  0,
  '8',
  0,
  0,
  0,
  '43',
  '68',
  '85',
  '16',
  0,
  '42',
  '13',
  '96',
  0,
  0,
  0,
  '65',
  0,
  0,
  0,
  0,
  0],
 'nuclear': [2.0,
  2.0,
  9.0,
  0.0,
  1.0,
  5.0,
  0.0,
  0.0,
  11.0,
  1.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  5.0,
  0.0,
  50.0,
  9.0,
  0.0,
  0.0,
  0.0,
  4.0,
  0.0,
  7.0,
  0.0,
  0.0,
  4.0,
  23.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  9.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  11.0,
  0.0,
  0.0,
  6.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  28.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  22.0,
  22.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  18.0,
  0.0,
  0.0,
  0.0,
  0.0,
  20.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  17.0,
  27.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  9.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  20.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 'nuclear_rank': ['25',

In [38]:
energy_df.to_csv("stuff.csv",index=False)